@font-face {
  font-family: "iconfont"; /* Project id 3477077 */
  src: url('iconfont.woff2?t=1655788578640') format('woff2'),
       url('iconfont.woff?t=1655788578640') format('woff'),
       url('iconfont.ttf?t=1655788578640') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pig:before {
  content: "\ec8f";
}

.icon-mail_fill:before {
  content: "\e70a";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-steam:before {
  content: "\f23b";
}

.icon-telegram:before {
  content: "\f245";
}

.icon-bilibili-line:before {
  content: "\e75d";
}

